/* general styles - общие стили для всего CSS кода*/

* {
    box-sizing: border-box; /* Включаю чтобы padding и border не увеличивали размеры элементов */
    margin: 0; 
    padding: 0;
}

body {
    font-family: Montserrat;
}

.container {            /* контейнер на всей странице */
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

ul {
    list-style: none;
}

.button {
    background-color: #FFA62B;
    color: white;
    height: 58px;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 500ms ease;
    margin-right: 5px;
    position: relative;
}

.button:hover {
    background-color: #252B42; 
}

/* section-hero */

.hero {
    /* Устанавливаю фоновое изображение секции "hero" */
    background: url('img/fon_section1.jpg') no-repeat;
    background-size: cover;  /* Масштабирую фоновое изображение так, чтобы оно покрыло всю область */
    background-position: center; 
    position: relative; /* Устанавливаю позиционирование элемента как относительное */
    height: 680px;

    /* Навигационная панель */
    .header {
        display: flex; /* Отображаю элементы внутри .header в виде flex-контейнера */
        align-items: center;
        justify-content: space-between;  /* Равномерно распределяю пространство между элементами */
        padding: 40px 0;
        position: relative;
        z-index: 2;
    
        .header_logo {
            font-size: 24px;
            font-weight: 700;
            color: white;
        }
        
        .header_nav {
            margin-left: auto; /* Выравниваю навигационное меню по правому краю */
            display: flex;
            margin-right: 40px;

            ul {
                display: flex; /* Отображаю элементы внутри ul в виде flex-контейнера */
                gap: 21px;
            
                .nav_item {
                    .nav_link {
                        font-weight: 600;
                        color: white;
                        text-decoration: none;
                    }
                    .nav_link:hover {
                        border-bottom: 3px solid #FFA62B; /* Добавляю нижнюю границу при наведении на ссылку */
                    }
                }
            }

        }
        
        .header_actions {
            ul {
                display: flex;
                gap: 21px;
                justify-content: space-between;

                .header_cart_icon {
                    margin-top: 3px; 
                }
            }
        }
    }

    /* Текст тайтл  посередине */
    .hero_title {
        padding-top: 120px;
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
    
        h1 {
            font-size: 58px;
            font-weight: 700;
            color: white;
            position: relative; /* Устанавливаю позиционирование элемента как относительное */
            margin-bottom: 34px;
            z-index: 2;
        }
    
        h4 {
            font-size: 20px;
            font-weight: 500;
            color: white;
            position: relative;
            line-height: 30px;
            letter-spacing: 0.3px;
            margin-bottom: 42px;
            z-index: 2;
        }
    
        .hero_actions {
            .button {
                height: 48px;
                border-radius: 24px;
                z-index: 2; 
            }

            .hero_button2 {
                background-color: transparent;
                border: 1px solid white;
            }

            .button:hover {
                background-color: #252B42; 
            }
        }
    } 
}

.hero::before {
    content: ""; /* Создаю псевдоэлемент */
    position: absolute;
    /* задаю значения top, right, bottom и left: 0, гарантируя, что псевдоэлемент займет всю площадь секции, на которой он применяется, в данном случае секции с классом .hero,  без каких-либо отступов от краев */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Устанавливаю цвет фона с прозрачностью */
    z-index: 1; 
}

/* общие стили для main и main-content */

p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.main-content {              
    padding: 30px 0 35px 0;

    h2 {
        font-size: 40px;
        color: #FFFFFF;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
        text-align: center;
    }
}

/* main-section-cards */

.cards {
    background-color: #252B42;
    height: 810px;
    padding: 120px 0;

    .card-container {
        display: grid; /* Отображаю элементы внутри .card-container в виде сетки */
        grid-template-columns: repeat(3, 1fr);  /* Создаю три столбца с равной шириной */
        gap: 30px;
        height: 415px;
        text-align: left;
    
        .card {
            padding: 35px 40px;
            border-radius: 1px;
            background-color: #FFFFFF;
    
            .card-img-title {
                display: flex; /* Отображаю элементы внутри .card-img-title в виде flex-контейнера */
                flex-direction: row; /* Расположение в строку */
                align-items: center; 
                margin-bottom: 15px;
    
                .card-img {
                    margin-right: 13px;
                }
    
                 h5 {
                    font-size: 16px;
                    color: #252B42;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
            }
    
            p {
                color: #737373;
            }
        }
    }
}

/* main-section-video_play */

.video_play {
    background-color: #252B42; 
    height: 810px;
    padding: 80px 0;
    position: relative; 
    z-index: 1;

    .video-play_background {
        background-color: #16697A; 
        position: absolute; 
        top: 420px; 
        width: 100%; 
        height: 400px;
        z-index: -1; 
    }

    .video-play_background::before {  /* случай, как и с классом .hero::before*/
        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: -1; 
    }

    .video-img {
        cursor: pointer;
        transition: opacity 0.5s ease-in-out; /* Устанавливаю плавное изменение прозрачности */
        opacity: 1;
        border-radius: 5px;
        border: 1px;
    }

    .video-img:hover {
        opacity: 0.8;
    }
}  

/* main-section-cards-reviews */

.cards-reviews {
    background-color: #252B42; 
    height: 590px;
    padding: 80px 0;

    .card-reviews-container {
        display: flex; /* Отображаю элементы внутри .card-reviews-container в виде flex-контейнера */
        justify-content: space-between;
        height: 244px;
        gap: 30px;
        margin-top: 35px;

        .card-review {
            width: 327px;
            height: 244px;  
            padding: 30px 35px;
            border-radius: 5px;
            border: 1px solid #DEDEDE;
            border-radius: 8px;
            background-color: #FFFFFF;

            .stars {
                display: flex; /* Отображаю звезды в виде flex-контейнера */
            }
        }

        h6 {
            color: #737373;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: left;
            margin-top: 20px;
        }

        .frame {
            display: flex; /* Отображаю элементы внутри .frame в виде flex-контейнера */
            flex-direction: row; /* Располагаю элементы в строку */
            align-items: center;
            gap: 15px; 
            margin-top: 20px;

            .frame_text {
                display: flex; /* Отображаю элементы внутри .frame_text в виде flex-контейнера */
                flex-direction: column; /* Располагаю элементы в столбец */

                a {
                    text-decoration: none;
                    color: #FFA62B;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    text-align: left;
                    transition: color 0.3s ease-in-out; /* Добавляю плавное изменение цвета при наведении */
                }

                a:hover {
                    color: rgb(255, 107, 107);
                }

                h6 {
                    color: #252B42;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 24px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    text-align: left;
                    margin-top: 0;
                }
            }
        }
    }
}

/* main-section-cards-team */

.cards-team {
    background-color: #252B42; 
    height: 730px;
    padding: 80px 0;

    /* 3 карточки в ряд */
    .card-team-container {
        display: flex; /* Отображаю элементы внутри .card-collaborators-container в виде flex-контейнера */
        justify-content: space-between;
        height: 370px;
        gap: 30px;
        margin-top: 35px;

        .card-team {
            height: 370px;  
            background-color: #FFFFFF;

            .card-content {
                display: flex; /* Отображаю элементы внутри .card-content в виде flex-контейнера */
                flex-direction: column; /* Располагаю элементы в столбец */
                align-items: center;
                
                h5 {
                    color: #252B42;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    margin-top: 20px;  
                }

                h6 {
                    color: #737373;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    margin-top: 5px;  
                }

                .card-content-logo {
                    display: flex; /* Отображаю элементы внутри .card-content-logo в виде flex-контейнера */
                    height: 24px;
                    gap: 15px;
                    margin-top: 5px;  
                }
            }
        }
    }
} 

/* main-section-contact_us */

.contact_us {
    background: url('img/fon_section6.jpg') no-repeat;
    background-size: cover;

    /* создаю блок для формы */
    .contain {
        height: 750px;
        padding: 40px 0;

        /* создаю обёртку для формы */
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 90px 0;

            /* создаю класс с формой, внутри которой помещаю саму форму */
            .form {
                width: 600px; 
                text-align: left;
                
                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    color: #FFFFFF;
                    margin-bottom: 14px;
                }
                
                h2 {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    color: #FFFFFF;
                }
                
                /* та самая форма */
                form {
                    display: flex; /* Отображаю элементы внутри формы в виде flex-контейнера */
                    flex-direction: column; /* Располагаю элементы в столбец */
                    padding: 40px 0;
                    gap: 20px;
    
                    .form-row {
                        display: flex; /* Отображаю элементы внутри .form-row в виде flex-контейнера */
                        justify-content: space-between;
                        gap: 20px;

                /* делаю так чтобы input, select и message были в одном стиле, у всех одинаковый background-color*/        
                        input {
                            background-color: #ededed;
                            border: 1px solid #ededed;
                            width: 100%;
                            border-radius: 5px;
                            padding: 16px 21px;
                            height: 50px;
                            /* у инпута нет колор так как работает Placeholder */
                        }
                        
                        select {
                            border: 1px solid #ededed;
                            width: 100%;
                            border-radius: 5px;
                            padding: 16px 21px;
                            height: 50px;
                        }
                    }

                    #message {
                        background-color: #ededed;
                        border: 1px solid #ededed;
                        height: 140px;
                        padding: 16px 21px;
                        border-radius: 5px;
                        resize: none;
                    }

                    input:focus, textarea:focus, select:focus  {
                        outline: 3px solid #FFA62B;
                    }

                    .hero_button3 {
                        margin-top: 20px;
                        width: 40%;
                    }
                }
            }
        }
    }

    /* mini-section with contact us*/
    .consulting {
        background-color: #FAFAFA;
        height: 140px;
        display: flex; /* Отображаем элементы внутри .consulting в виде flex-контейнера */
        justify-content: space-between;
        align-items: center;
        padding: 0 315px;
        
        .consulting_desc {
            h3 {
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.1px;
                text-align: left;
                color: #252B42;
                margin-bottom: 10px;
            }
    
            p {
                text-align: left;
                color: #737373;
            }
        }
    }
}

/* footer */

.footer {
    background-color: #252B42;
    height: 530px;
    padding: 40px 0;

    /* верхний навигационный блок футера*/
    .footer_nav {
        display: flex; /* Отображаем элементы внутри .footer_nav в виде flex-контейнера */
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        position: relative;
        border-bottom: 1px solid #364067;
    
        .footer_logo {
            font-size: 24px;
            font-weight: 700;
            color: white;
        }
    
        ul {
            display: flex; /* Отображаем элементы списка в виде flex-контейнера */
            gap: 20px;
        }
    }

    /* главная часть навигационного блока футера */
    .container-column {
        display: flex; /* Отображаем элементы внутри .container-column в виде flex-контейнера */
        justify-content: space-between;
        padding: 70px 0;
        text-align: left; /* Выравниваем текст по левому краю */
    
        /* стили колонки */
        .column {
            flex: 1; /* Устанавливаем элементу .column гибкость */
            height: 170px;
            gap: 20px;
    
            h5 {
                margin-bottom: 15px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.1px;
            }

            ul li {
                margin-bottom: 10px;
        
                a {
                    text-decoration: none;
                    color: #BDBDBD;
                    transition: color 0.3s ease;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                }

                a:hover {
                    color: #FFA62B;
                }
            }
        
            /* стили для колонки с email и кнопкой */
            .column_input_button { 
                display: flex; /* Отображаем элементы внутри .column_input_button в виде flex-контейнера */
                align-items: center;
                width: 320px;

                input {
                    background-color: #ededed;
                    border: 1px solid #ededed;
                    border-radius: 5px;
                    padding: 16px 21px;
                    height: 50px;
                    width: 100%;
                }

                .button {
                    width: 115px;
                    height: 48px;
                    position: absolute;
                    padding: 10px 20px;
                    border-radius: 0 5px 5px 0;
                    font-weight: 400;
                    margin-left: 204px;
                }

                input:focus {
                    outline: 3px solid #FFA62B;
                }
            }

            p {
                color: #BDBDBD;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                margin-top: 6px;
            }     
        }
    }

    /* кусочек нижнего фона*/
    .footer_down {
        background-color: #16697A;
        height: 75px;
        display: flex; /* Отображаем элементы внутри .footer_down в виде flex-контейнера */
        align-items: center;
        padding: 0 315px;
    
        h6 {
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: left;
        }
    }
} 